# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
*.log

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
coverage.xml

# Docker
*.pid
*.seed
*.bak
*.swp